<table class="table bg-white table-condensed table-bordered table-striped table-hover">
  <thead>
    <tr>
      <td class="{{ grid 4 }}">Name</td>
      <td class="{{ grid 3 }}">Price</td>
      <td class="{{ grid 3 }}">Age</td>
      <td class="{{ grid 2 }}"></td>
    </tr>
  </thead>
  <tbody class="collection">
  </tbody>
  <tfoot>
    <tr>
      <td colspan="99" class="no-padder">
        <button id="add-item" class="m-xs pull-right btn btn-success">
          <i class="fa fa-fw fa-plus"></i> add
        </button>
      </td>
    </tr>
  </tfoot>
</table>
