<td>
  {{ name }}
</td>
<td>
  {{ price }}
</td>
<td>
  {{ age }}
</td>
<td class="no-padder">
  <button class="m-r-xs m-t-xs delete-item pull-right btn btn-xs btn-danger">
    <i class="fa fa-fw fa-times"></i> delete
  </button>
</td>
