<div class="container">
  <div class="navbar-header"> <!-- only in collapsed -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div> <!-- only in collapsed -->
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav"> <!-- left side navigation -->
      <li><a href="/"><i class="fa fa-fw fa-cube m-r-xs"></i> Home</a></li>
      <li><a href="/other"><i class="fa fa-fw fa-cog m-r-xs"></i> Other</a></li>
      <li><a href="/list"><i class="fa fa-fw fa-list m-r-xs"></i> List</a></li>
      <li><a href="/table"><i class="fa fa-fw fa-table m-r-xs"></i> Table</a></li>
    </ul> <!-- left side navigation end -->
    <ul class="nav navbar-nav navbar-right"> <!-- right side navigation -->
      <li><a href="/logout"><i class="fa fa-fw fa-sign-out m-r-xs"></i> Logout</a></li>
    </ul> <!-- right side navigation end -->
  </div>
</div>
