<br />
<button class="pull-right btn btn-xs btn-primary add"><i class="fa fa-fw fa-plus"></i> add</button>
<div class="form-group {{ grid 6 }}">
  <input type="text" placeholder="Busqueda &hellip;" class="form-control input-sm" />
</div>
