<div class="header" style="position: fixed; top: 0px; height: 50px; border-bottom: 1px solid red; width: 100%">{{ formatDate '2015-05-20' '%b %d %Y' }}</div>
<div class="page" style="position: fixed; top: 50px; height: calc(100% -50px -50px); background-color: #AAA; width: 100%"></div>
<div class="footer" style="position: fixed; bottom: 0px; height: 38px; border-top: 1px solid red; width: 100%"></div>