<div class="bbm-modal__bottombar">
  <button class="btn btn-danger destroy pull-left"><i class="fa fa-fw fa-times"></i> close</button>
  <button class="btn btn-success destroy"><i class="fa fa-fw fa-check"></i> confirm</button>
</div>